:root {
    /* Color Palette */
    --brand-color: #8124e0;
    --secondary-color: #a569e9;
    --tertiary-color: #beacef;
    --background-color: #f2f8fb;
    --nav-background-color: #b4e0ee;
    --dark-text-color: #222222;
    --gradient-background: linear-gradient(90deg, #222222, #737373);

    /* Typography */
    --h1-font-family: 'Montserrat', sans-serif;
    --h1-font-weight: 700;
    --h1-font-size: 2rem;
    --h1-letter-spacing: 0;
    --h1-line-height: 1.4;
    --h1-padding: 4px;

    --h2-font-family: 'Roboto Condensed', sans-serif;
    --h2-font-weight: 400;
    --h2-font-size: 1.75rem;
    --h2-letter-spacing: 0;
    --h2-line-height: 1.4;

    --body-font-family: 'Roboto Condensed', sans-serif;
    --body-font-weight: 400;
    --body-font-size: 1rem;
    --body-letter-spacing: 0;
    --body-line-height: 1.4;

    --navbar-height: 90px; /* NavBar Height Magic Number */
}

/* General styles */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    text-align: start;
    line-height: 1.5;
    color: var(--dark-text-color); /* Use CSS variable */
    background-color: var(--background-color); /* Fallback background color */
    background-image: var(--gradient-background); /* Apply the gradient */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1 {
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    padding: var(--h1-padding);
}

h2 {
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
}

p {
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
}

.accented-text {
    color: var(--brand-color);
}

.secondary-background {
    background-color: var(--secondary-color);
}

.tertiary-background {
    background-color: var(--tertiary-color);
}

nav {
    background-color: var(--nav-background-color);
}

.gradient-background {
    background-image: var(--gradient-background);
}