.portfolio {
    padding: 5rem 0;
    background-color: #f8f9fa;
}

.portfolio h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#portfolioCarousel {
    margin: 2rem auto; /* Center the carousel */
    max-width: 1280px; /* Or your desired maximum width */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.carousel-caption h5 {
    font-weight: bold;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}